@use "../variables" as vars;
@use "../funciones" as fn;

.hero {
  min-height: 100vh;
  padding: vars.$space-3 fn.to-rem(32);
  color: var(--ink); 
  
  // animacion para canviar las imagenes de fondo
  animation: hero-background 20s infinite alternate;
  container-type: inline-size;
  container-name: hero;

  @supports (display: grid) {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: vars.$space-3;
    }
  }
}

@keyframes hero-background {
  0% {
    background: url("../images/imagebg1.jpg") center/cover no-repeat;
  }

  33% {
    background: url("../images/imagebg2.jpg") center/cover no-repeat;
  }

  66% {
    background: url("../images/imagebg3.jpg") center/cover no-repeat;
  }

  100% {
    background: url("../images/imagebg4.jpg") center/cover no-repeat;
  }
}

.hero__title {
  font-size: fn.fluid(48, 80);
  font-weight: 800;
  margin-bottom: vars.$space-3;
  padding: 2cqmin;
  color: var(--paper); 
  line-height: 1.2;
  text-shadow: 0 fn.to-rem(2) fn.to-rem(6) rgb(0 0 0 / 100%);
}

.hero__description {
  font-size: fn.fluid(22, 28);
  max-width: 75ch;
  line-height: 1.9; 
  margin-bottom: vars.$space-4;
  color: var(--paper); 
  text-shadow: 0 fn.to-rem(2) fn.to-rem(6) rgb(0 0 0 / 100%);
}

.hero__cta {
  font-size: fn.fluid(22, 28);
  font-weight: 600;
  border-radius: fn.to-rem(4);
  display: inline-flex;
  align-items: center;
  gap: vars.$space-2;
  background-color: var(--accent); 
  color: var(--paper); 
  transition: background-color 0.3s ease;

  &:hover {
     background-color: var(--highlight); 
  }

  i {
    font-size: fn.to-rem(18);
    color: var(--paper); 
  }
}

@container hero (max-width: 600px) {
  .hero__grid {
    grid-template-columns: 1fr;
  }

  .hero__title {
    font-size: fn.modular-scale(1);
  }

  .hero__description {
    font-size: fn.to-em(15); 
    line-height: 1.6;
  }

  .hero__cta {
    font-size: fn.modular-scale(1);   
    padding: fn.to-em(12); 
    width: 100%; 
    justify-content: center; 
  }

}
