<footer class="footer">
  <div class="footer__info">
    <p class="footer__info-text">
      Nuestra web ofrece artículos, charlas y recursos sobre temas de actualidad y tecnología.
    </p>
  </div>

  <hr class="footer__divider" />

  <div class="footer__bottom">
    <div class="footer__logo">
      <a href="index.html" class="footer__logo-link">
        <img src="assets/images/logo.png" alt="Logo" class="footer__logo-image" />
      </a>
    </div>
    <nav class="footer__nav">
      <a href="index.html" class="footer__nav-link">Home</a>
      <a href="speakers.html" class="footer__nav-link">Speakers</a>
      <a href="article.html" class="footer__nav-link">Article</a>
      <a href="galery.html" class="footer__nav-link">Otros</a>
    </nav>
    <div class="footer__social">
      <a href="#" class="footer__social-link"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="footer__social-link"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" class="footer__social-link"><i class="fa-brands fa-google-plus-g"></i></a>
    </div>
  </div>
</footer>
