<footer class="footer">

  <div class="footer__info row text-center">
    <div class="col-12 col-md-2 text-start text-md-end">
      <p class="footer__info-text"><strong>Correo electrónico:</strong></p>
    </div>
    <div class="col-12 col-md-2 text-start">
      <p class="footer__info-text">info@uoc.com</p>
    </div>
    <div class="col-12 col-md-2 text-start text-md-end">
      <p class="footer__info-text"><strong>Números telefónicos:</strong></p>
    </div>
    <div class="col-12 col-md-2 text-start">
      <p class="footer__info-text">(+34) 999 999 999</p>
      <p class="footer__info-text">(+34) 888 888 888</p>
    </div>
    <div class="col-12 col-md-2 text-start text-md-end">
      <p class="footer__info-text"><strong>Atención al cliente:</strong></p>
    </div>
    <div class="col-12 col-md-2 text-start">
      <p class="footer__info-text">Lunes a viernes: 09:00 - 17:00h</p>
      <p class="footer__info-text">Sábados y Domingos: Dejad un correo.</p>
    </div>
  </div>



  <hr class="footer__divider" />

  <div class="footer__bottom">
    <div class="footer__logo">
      <a href="index.html" class="footer__logo-link">
        <img src="assets/images/logo.png" alt="Logo" class="footer__logo-image" />
      </a>
    </div>
    <nav class="footer__nav">
      <a href="index.html" class="footer__nav-link">Home</a>
      <a href="speakers.html" class="footer__nav-link">Colaboradores</a>
      <a href="article.html" class="footer__nav-link">Article</a>
      <a href="galery.html" class="footer__nav-link">Platos</a>
    </nav>
    <div class="footer__social">
      <a href="#" class="footer__social-link"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="footer__social-link"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" class="footer__social-link"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
