<header class="header">
  <div class="header__logo">
    <a href="index.html" class="header__logo-link">
      <img src="assets/images/logo.png" alt="Main visual" class="header__logo-image" />
    </a>
  </div>

  <button class="header__toggle" aria-label="Abrir menú">
    <i class="fa-solid fa-bars"></i>
  </button>

  <nav class="header__nav">
    <a href="speakers.html" class="header__nav-link">Colaboradores</a>
    <a href="article.html" class="header__nav-link">Article</a>
    <a href="galery.html" class="header__nav-link">Platos</a>
  </nav>
</header>
